@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--el-color-primary);
  transition: 0.3s;
}

a:hover {
  color: var(--el-color-primary-light-3);
}

@media (max-width: 768px) {
  #app {
    height: 100vh;
    width: 100vw;
  }
}
